<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #050505;
        }
        h1 {
            color: #662828;
        }
        p {
            color: #6e0c0c;
        }
    </style>
</head>
<body>
    <h1>Hello!</h1>
    <p>Welcome to my simple HTML page.</p>
    <p>Hope you have a great day!</p>
</body>
</html>
